%main#main.main{role: "main"}

  %section.section.__bg{role: "region"}
    .ctn
      .p-t_1.p-b_2
        %h1.tx.__center Блог
      .p-b_4
        = haml '/views/common/_filter_blog'.to_sym

  %section.section.__bg{role: "region"}
    .ctn

      %article.post.__show.p-t_4.p-b_6
        .grid
          .grid-i.__grid-8.__prefix-2
            %header.post_header
              %h1.tx.__minor Кофе растворимый Бразилия и&nbsp;его настоящий вкус
              .post_summary.p-t_1.p-b_1
                .post_summary_user
                  %img{src: "/assets/images/blank.gif", class: "va-t round c-bg __blue", alt: "", with: 36, height: 36}
                .post_summary_info.__s
                  %p
                    %b Дмитрий Янов
                    &nbsp;/&nbsp;
                    %span.tx.__s 31 октября 2013
          .grid-i.__grid-2
            .tx.__right
              %a{href: "/blog_show", class: "post_next"} Следующий пост

        .m-b_4
          .tx.__center
            %img{src: "/assets/images/fake/blog_full.jpg", class: "va-t", alt: "Кофе растворимый Бразилия и его настоящий вкус"}

        .m-b_4
          .grid
            .grid-i.__grid-8.__prefix-2
              .cnt.post_header_cnt
                %h3 Историческая справка
                %p Чай в&nbsp;Китае относят к&nbsp;&laquo;семи вещам, потребным ежедневно&raquo; вместе с&nbsp;дровами, рисом, маслом, солью, соевым соусом и&nbsp;уксусом (柴,米,油,鹽,醬,醋,茶). Китайская чайная культура отличается от&nbsp;европейской, британской и&nbsp;японской как способами приготовления и&nbsp;питья, так и&nbsp;поводами для чаепития. Чай здесь&nbsp;&mdash; не&nbsp;только напиток; он&nbsp;играет важную роль в&nbsp;традиционной китайской медицине, китайской кухне и&nbsp;буддизме.
        
        %hr.hr
        %section.section.__bg{role: "region"}
          .p-t_5.p-b_3
            %p.alpha.tx.__center.m-b_5
              %a{href: "/catalog"} Стоит попробовать
            .grid.tx.__center
              - 1.upto(5) do
                .grid-i.__grid-4
                  = haml '/views/common/_products_item'.to_sym
        %hr.hr.m-b_4

        .m-b_4
          .grid
            .grid-i.__grid-8.__prefix-2
              .cnt.post_header_cnt
                %h3 Чайные традиции на века
                %p Чай (кит. 茶 &mdash; &laquo;ча&#769;&raquo; на&nbsp;пекинском и&nbsp;гуандунском диалекте, &laquo;те̂&raquo; на&nbsp;амойском и&nbsp;&laquo;тцай-е&raquo; на&nbsp;тайваньском)&nbsp;&mdash; напиток, получаемый варкой, завариванием и/или настаиванием листа чайного куста, который предварительно подготавливается специальным образом.
                %h3 Исторические метаморфозы
                %p Иногда слово &laquo;чай&raquo; используют и&nbsp;в&nbsp;качестве названия чайного куста&nbsp;&mdash; вида растений рода Камелия семейства Чайные; в&nbsp;ботанической научной литературе для этого вида обычно используется название камелия китайская (Camellia sinensis).

        .grid
          .grid-i.__grid-8.__prefix-2
            %footer.post_footer
              .m-b_3
                %img{src: "/assets/images/fake/like.png", alt: ""}
              %p.tx.__xl.m-b_2
                %b Коментарии&nbsp;
                (23)
              = haml '/views/common/_comments'.to_sym

%footer#footer.footer.__home{role: "contentinfo"}
  .ctn
    = haml '/views/layouts/_footer'.to_sym