%nav.products.__footer.p-t_4.p-b_4
  %a{href: "/products", class: "products_i"}  Чай
  %span.products_bull &bull;
  %a{href: "/products", class: "products_i"}Кофе
  %span.products_bull &bull;
  %a{href: "/products", class: "products_i"}Аксессуары
  %span.products_bull &bull;
  %a{href: "/products", class: "products_i"}Напитки
  %span.products_bull &bull;
  %a{href: "/products", class: "products_i"}Горячий шоколад
  %span.products_bull &bull;
  %a{href: "/products", class: "products_i"}Сладости
  %span.products_bull &bull;
  %a{href: "/products", class: "products_i"}Бальзамы
  %span.products_bull &bull;
  %a{href: "/products", class: "products_i"}Шоколад ручной работы
  %span.products_bull &bull;
  %a{href: "/products", class: "products_i"}Сиропы
  %span.products_bull &bull;
  %a{href: "/products", class: "products_i"}Подарочные наборы

.p-t_5.p-b_5
  .grid
    .grid-i.__grid-3
      %a{href: "#", class: "sub", data: {dialog: "true", url: "/views/dialogs/subscribe.html"}}
        Подпишитесь на рассылку
        &nbsp;
        %i.fa.fa-chevron-right.tx.__xs.va-m
    .grid-i.__grid-6
      .tx.__center
        %a{href: "/"}
          %img{src: "/assets/images/logo-footer.png", class: "va-t", alt: "Кофейная Кантата", width: 176, height: 40}
        %p &copy; 2014
    .grid-i.__grid-3
      %nav
        %ul.social
          %li.social_i
            %a{href: "#", class: "social_i_a va-t"}
              %i.ico.__19.__fb
          %li.social_i
            %a{href: "#", class: "social_i_a va-t"}
              %i.ico.__19.__tw
          %li.social_i
            %a{href: "#", class: "social_i_a va-t"}
              %i.ico.__19.__ig
          %li.social_i
            %a{href: "#", class: "social_i_a va-t"}
              %i.ico.__19.__vk

%nav.footer_nav.p-t_2.p-b_2.tx.__center
  %a{href: "#"} Вакансии
  %a{href: "#"} Публичная оферта
  %a{href: "#"} Контакты