%header#header.header{role: "banner"}

  %section.section.header_top{role: "region"}
    .ctn
      .grid
        .grid-i.__grid-2
          %p.tx.__s 8 (800) 300-43-03
        .grid-i.__grid-4
          %p.tx.__s.__center Пн.-Пт.  10 — 19 часов
        .grid-i.__grid-2.__prefix-1
          %form.form
            %input{type: "text", class: "form_text __s form_el __block", placeholder: "Поиск"}
        .grid-i.__grid-3
          %p.tx.__s.__right Корзина:  0 руб.

  %section.section.__bg{role: "region"}
    .ctn
      .p-t_4.p-b_4
        .grid
          .grid-i.__grid-4.__prefix-1.va-m
            .tx.__left
              %nav{role: "navigation"}
                %ul.nav.__left
                  %li.nav_i
                    %a{href: "#", class: "nav_i_a"} Новинки
                  %li.nav_i
                    %a{href: "#", class: "nav_i_a"} Акции
                  %li.nav_i
                    %a{href: "#", class: "nav_i_a"} Магазины
          .grid-i.__grid-2.va-m
            .tx.__center
              %a{href: "/"}
                %img{src: "/assets/images/logo-header.png", class: "va-t", alt: "Кофейная Кантата", width: "100px", height: "100px"}
          .grid-i.__grid-4.va-m
            .tx.__right
              %nav{role: "navigation"}
                %ul.nav.__right
                  %li.nav_i
                    %a{href: "#", class: "nav_i_a"} Доставка
                  %li.nav_i
                    %a{href: "#", class: "nav_i_a"} Блог
                  %li.nav_i
                    %a{href: "#", class: "nav_i_a"} Контакты