.dialog.__subscribe
  %i.dialog_close.js-dialog_close.ico.__12.__times
  %p.tx.__center.__xl.m-b_2 Рассылка новостей<br>и новинок интернет-магазина
  %form.form
    .m-b_1
      %input{type: "text", class: "form_text __l form_el __block tx __center", value: "Имя"}
    .m-b_3
      %input{type: "text", class: "form_text __l form_el __block tx __center", value: "Email"}
    .tx.__center
      %input{type: "submit", class: "form_button __white", value: "Подписаться"}