%nav
  %ul.pagination
    %li.pagination_i
      %span{class: "pagination_i_a __current"} Новые
    %li.pagination_i
      %a{href: "#", class: "pagination_i_a"} Популярные
    %li.pagination_i
      %a{href: "#", class: "pagination_i_a"} Чай
    %li.pagination_i
      %a{href: "#", class: "pagination_i_a"} Кофе
    %li.pagination_i
      %a{href: "#", class: "pagination_i_a"} Советы
    %li.pagination_i
      %a{href: "#", class: "pagination_i_a"} История
    %li.pagination_i
      %a{href: "#", class: "pagination_i_a"} Церемонии