%nav
  %ul.pagination
    %li.pagination_i
      %span{class: "pagination_i_a __current"} Черный
    %li.pagination_i
      %a{href: "#", class: "pagination_i_a"} Зеленый
    %li.pagination_i
      %a{href: "#", class: "pagination_i_a"} Белый
    %li.pagination_i
      %a{href: "#", class: "pagination_i_a"} Пу-эр
    %li.pagination_i
      %a{href: "#", class: "pagination_i_a"} Оолонг
    %li.pagination_i
      %a{href: "#", class: "pagination_i_a"} Ароматизированный
    %li.pagination_i
      %a{href: "#", class: "pagination_i_a"} Чай в шёлке