.gallery
  %a{href: "/assets/images/gallery/photo_1.png", class: "gallery_plus", data: {lightbox: "cert"}}
    %i.ico.__24.__plus
  .gallery_preview
    %a{href: "/assets/images/gallery/photo_1.png", data: {lightbox: "cert"}}
      %img{src: "/assets/images/gallery/photo_1.png", class: "va-t", alt: "Кофе растворимый Бразилия", width: 540, height: 400}
  %ul.gallery_thumb
    %li.gallery_thumb_i
      %a{href: "#", class: "gallery_thumb_i_a __current", rel: "/assets/images/gallery/photo_1.png"}
        %img{src: "/assets/images/gallery/thumb_1.png", class: "va-t", alt: "Кофе растворимый Бразилия", width: 40, height: 40}
    %li.gallery_thumb_i
      %a{href: "#", class: "gallery_thumb_i_a", rel: "/assets/images/gallery/photo_2.png"}
        %img{src: "/assets/images/gallery/thumb_2.png", class: "va-t", alt: "Кофе растворимый Бразилия", width: 40, height: 40}
    %li.gallery_thumb_i
      %a{href: "#", class: "gallery_thumb_i_a", rel: "/assets/images/gallery/photo_3.png"}
        %img{src: "/assets/images/gallery/thumb_3.png", class: "va-t", alt: "Кофе растворимый Бразилия", width: 40, height: 40}