- hash = rand(9999)
%figure.p-b_2
  %a{href: "/products_show##{hash}", class: "double-hover"}
    %img{src: "/assets/images/fake/img_#{rand(1..6)}.png", class: "m-b_1", alt: "Непал Гималайские типсы Шангри", width: 300, height: 220}
  %figcaption.tx.__center
    %p.tx.__xl
      %a{href: "/products_show##{hash}", class: "double-hover"}
        Непал Гималайские типсы Шангри
    %p.tx.__sans-300
      %span.format-number= rand(50..1100)
      &nbsp;р. / 100 гр.