%nav.products.__page
  %a{href: "/products", class: "products_i"} Чай
  %span.products_bull &bull;
  %a{href: "/products", class: "products_i __current"} Кофе
  %span.products_bull &bull;
  %a{href: "/products", class: "products_i"} Аксессуары
  %span.products_bull &bull;
  %a{href: "/products", class: "products_i"} Напитки
  %span.products_bull &bull;
  %a{href: "/products", class: "products_i"} Горячий шоколад
  %br
  %a{href: "/products", class: "products_i"} Сладости
  %span.products_bull &bull;
  %a{href: "/products", class: "products_i"} Бальзамы
  %span.products_bull &bull;
  %a{href: "/products", class: "products_i"} Шоколад ручной работы
  %span.products_bull &bull;
  %a{href: "/products", class: "products_i"} Сиропы
  %br
  %a{href: "/products", class: "products_i"} Подарочные наборы