@if $grid == "responsive-auto" or $grid == "responsive-manual" {
  @include media-query(tablet) {body {padding-top: 0 !important;}}
  @include media-query(phone) {body {padding-top: 0 !important;}}
}



//****************************************************************************************************
//
// .. HEADER
//
//****************************************************************************************************
.header {
  @include media-query(desktop) {
    &.__sticky {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1000;
      background: $base-bg;
      box-shadow: .1em .1em .3em rgba(0, 0, 0, .25);
    }
  }
}
  .header_top {
    padding: 15px 0;
  }



//****************************************************************************************************
//
// .. NAVIGATION
//
//****************************************************************************************************
.nav {
  &.__left {
    .nav_i {margin-right: 25px;}
  }
  &.__right {
    .nav_i {margin-left: 25px;}
  }
}
  .nav_i {
    display: inline-block;
  }
    .nav_i_a {
      font-size: 16px;
    }



//****************************************************************************************************
//
// .. SECTION
//
//****************************************************************************************************
.section {
  &.__bg {
    > .ctn {
      background-color: #fff;
      padding-right: 42px;
      padding-left: 42px;
    }
  }
  &.__bordered {
    > .ctn {
      border-top: 1px solid #e4eee6;
      border-bottom: 1px solid #e4eee6;
    }
  }
  &.__advice {
    margin-top: -190px;
  }
}



//****************************************************************************************************
//
// .. ASIDE
//
//****************************************************************************************************
.aside {
  padding-left: 20px;
}



//****************************************************************************************************
//
// .. TIPS
//
//****************************************************************************************************
.tips {

}
  .tips_caption {
    background-color: #fff;
    height: 200px;
    padding: 25px 30px 0;
    position: relative;
    @include prefixes(box-sizing, border-box);
  }
    .tips_caption_next {
      border-top: 1px solid #e4eee6;
      color: $link-color-hover;
      display: block;
      height: 59px;
      line-height: 59px;
      position: absolute;
      right: 30px;
      bottom: 0;
      left: 30px;
      .fa {
        font-size: 10px;
        position: absolute;
        top: 50%;
        right: 0;
        @include prefixes(transform, translate(0, -50%));
      }
    }



//****************************************************************************************************
//
// .. SLIDER
//
//****************************************************************************************************
.slider {
  position: relative;
  width: 620px;
  height: 420px;
  overflow: hidden;
}
  .slides {

  }
    .slide {

    }
  .slider_pager {
    position: absolute;
    left: 45px;
    bottom: 45px;
    z-index: 9999;
    span {
      background-color: $base-color;
      border-radius: 50%;
      display: block;
      font-size: 0;
      margin-top: 5px;
      width: 14px;
      height: 14px;
      &.cycle-pager-active {
        background-color: #f5f5f2;
      }
    }
  }



//****************************************************************************************************
//
// .. PRODUCTS
//
//****************************************************************************************************
.products {
  text-align: center;
  &.__page {
    .products_i {
      font-family: $font-family-serif;
      font-size: 24px;
      font-weight: 500;
      line-height: 38px;
      &.__current {color: $link-color-hover;}
    }
    .products_bull {
      font-size: 12px;
      margin: 0 5px;
    }
  }
  &.__footer {
    border-bottom: 1px solid $base-color;
    border-top: 1px solid $base-color;
    .products_i {

    }
    .products_bull {
      font-size: 10px;
      margin: 0 3px;
    }
  }
}
  .products_i {
    display: inline-block;
    vertical-align: middle;
  }
  .products_bull {
    display: inline-block;
    vertical-align: middle;
  }



//****************************************************************************************************
//
// .. PAGINATION
//
//****************************************************************************************************
.pagination {
  text-align: center;
}
  .pagination_i {
    display: inline-block;
    //margin: 0 1px;
    &.__prev {margin-right: 35px;}
    &.__next {margin-left: 35px;}
  }
    .pagination_i_a {
      border: 1px solid transparent;
      border-radius: 3px;
      display: inline-block;
      padding: 5px 10px 3px;
      &.__current {
        background-color: $base-color;
        color: #fff;
      }
    }
    a.pagination_i_a:hover {
      color: inherit;
      border-color: $base-color;
    }



//****************************************************************************************************
//
// .. ORDER FORM
//
//****************************************************************************************************
.order-form {
  margin-top: -13px;
  padding-left: 40px;
}


//****************************************************************************************************
//
// .. BAG SUMMARY INFO
//
//****************************************************************************************************
.bag-summary {
  dl {
    line-height: 40px;
    dt {

    }
    dd {padding-right: 40px;}
  }
}
  .bag-summary_promo {
    position: relative;
  }
    .bag-summary_promo_input {
      background-color: #fff;
      border: 1px solid $base-color;
      border-radius: 3px;
      color: $base-color;
      padding: 6px 30px 2px 5px;
      width: 140px;
    }
    .bag-summary_promo_submit {
      background-color: $base-color;
      background-image: url(/assets/images/icons/ico-24.png);
      background-position: 0 0;
      background-repeat: no-repeat;
      border-radius: 0 2px 2px 0;
      border-left: 1px solid $base-color;
      cursor: pointer;
      height: 24px;
      width: 24px;
      position: absolute;
      top: 50%;
      right: 1px;
      margin-top: -14px;
      &[disabled] {
        background-color: #fff;
        background-position: -24px 0;
        cursor: default;
      }
    }
  .bag-summary_total {
    font-size: 21px;
  }



//****************************************************************************************************
//
// .. ITEMS
//
//****************************************************************************************************
//
// .. Comments item
//
.comments {

}
  .comments_i {
    min-height: 50px;
    position: relative;
  }
    .comments_i_user {
      position: absolute;
    }
    .comments_i_msg {
      padding-top: 6px;
      padding-left: 70px;
    }
      .comments_i_msg_add {
        display: block;
        border: 1px solid #f1f1f1;
        box-shadow: inset 1px 1px 1px 0 #e2e2e2;
        color: $base-color;
        padding: 13px 8px 9px;
        width: 100%;
      }

//
// .. Product item
//
.product {
  font-family: $font-family-sans-300;
}

//
// .. Post item
//
.post {
  &:not(:first-child) {border-top: 1px solid #e4eee6;}
  &.__show {
    border-top: 1px solid #e4eee6;

    .post_header, .post_header_cnt, .post_footer {padding: 0 40px;}

    .post_summary_info {
      line-height: 50px;
      padding-top: 0;
    }
  }
}

  .post_summary {@extend .comments_i;}
    .post_summary_user {
      @extend .comments_i_user;
    }
    .post_summary_info {
      @extend .comments_i_msg;
      &.__s {
        line-height: 36px !important;
        padding-left: 50px;
      }
    }

  .post_next {
    border: 1px solid transparent;
    border-radius: 3px;
    display: inline-block;
    margin-top: 4px;
    padding: 5px 10px 3px;
    &:hover {
      border-color: $base-color;
      color: inherit;
    }
  }

//
// .. Bag item
//
.bag-item {
  .hr {
    margin-left: 60px;
    width: 440px;
  }
}
  .bag-item_photo {

  }
  .bag-item_name {line-height: 20px !important;}
  .bag-item_remove {
    padding-right: 40px;
    a {
      opacity: .5;
      &:hover {opacity: 1;}
    }
  }
  .bag-item_price {
    @extend  .bag-item_remove;
    @extend  .bag-item_name;
  }


//****************************************************************************************************
//
// .. ELEMENTS
//
//****************************************************************************************************
//
//  .. Custom select
//
.custom-select {
  position: relative;
  p {
    a {
      border-bottom: 1px solid $base-color;
      display: inline-block;
    }
  }
  ul {
    display: none;
    background-color: #fff;
    border: 1px solid $base-color;
    padding: 10px 15px;
    position: absolute;
    top: -11px;
    left: -16px;
    li {

    }
  }
}

//
// .. Chocolate
//
.chocolate {
  border-top: 1px solid $base-color;
  border-bottom: 1px solid $base-color;
  display: table-cell;
  height: 350px;
  font-family: $font-family-sans-100;
  font-size: 30px;
  font-style: italic;
  line-height: 46px;
  text-align: center;
  vertical-align: middle;
}

//
// .. Social
//
.social {
  padding: 10px 0;
  text-align: right;
}
  .social_i {
    display: inline-block;
    margin-left: 10px;

  }
    .social_i_a {

    }

//
// .. Sub
//
.sub {
  display: inline-block;
  padding: 13px 0;
}

//
// HR
//
hr.hr {
  background-color: #e8e8e8;
  width: 100%;
  height: 1px;
  &.__color {background-color: #e4eee6;}
}

//
// B
//
p > b {font-family: $font-family-sans-700;}

//
// a underline
//
.a-underline {
  border-bottom: 1px solid transparent;
  display: inline-block;
  line-height: 20px;
  &:hover {
    border-color: $base-color;
    color: inherit;
  }
}



//****************************************************************************************************
//
// .. DIALOGS
//
//****************************************************************************************************
.dialog {
  background-color: #fff;
  &.__subscribe {
    padding: 40px;
    width: 365px;
  }
}



//****************************************************************************************************
//
// .. FOOTER
//
//****************************************************************************************************
.footer {
  &.__home {
    .products {
      &.__footer {
        border-top: none;
      }
    }
  }
}
  .footer_nav {
    a {
      margin: 0 10px;
      @extend .a-underline;
    }
  }