%section{role: "region", "aria-label" => "Demo"}
  %article
    %header.m-b_4
      %h3
        %a.a.__inner{href: "/docs/index"}
          %img{src: "/assets/images/logo-footer.png", alt: "Кофейная Кантата"}

    -#%nav.demo
      %ul.m-b_2
        %li
          %a{href: "https://github.com/oskolsky/markup_cantata"} View Source on GitHub

    %nav.demo
      %ol
        %li 
          %a{href: "/index"} Главная
        %li 
          %a{href: "/products"} Каталог
        %li 
          %a{href: "/products_show"} Карточка товара
        %li
          %a{href: "/basket"} Корзина
        %li
          %a{href: "/blog"} Блог
        %li
          %a{href: "/blog_show"} Просмотр поста