%section{role: "region", "aria-label" => "Demo"}
  %article
    %header.m-b_4
      %h3
        %a.a.__inner{href: "/docs/index"}
          %img{src: "/assets/images/logo-footer.png", alt: "Кофейная Кантата"}

    %nav.demo
      %ol
        %li 
          %a{href: "/index"} Главная
        %li 
          %a{href: "/products"} Каталог
        %li 
          %a{href: "/products_show"} Карточка товара